jobs:
  aws-cli-example:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup:
          profile-name: adamsnetiker
      - run: aws s3 sync . s3://adamonaws.com --exclude "*" --include "*.html"
      - run: aws s3 sync ./css s3://adamonaws.com/css --include "*.css"
      - run: aws s3 sync ./images s3://adamonaws.com/images --include "*.jpg" --include "*.png"
build:
  docker:
    - image: 'cimg/python:3.6'
  steps:
    - checkout
    - run: aws s3 sync . s3://adamonaws.com --exclude "*" --include "*.html"
    - run: aws s3 sync ./css s3://adamonaws.com/css --include "*.css"
    - run: aws s3 sync ./images s3://adamonaws.com/images --include "*.jpg" --include "*.png"
    - aws-s3/sync:
        arguments: |
          --acl public-read \
          --cache-control "max-age=3600"
        from: .
        to: 's3://adamonaws.com'
    - aws-s3/sync:
        arguments: |
          --acl public-read \
          --cache-control "max-age=3600"
        from: ./css
        to: 's3://adamonaws.com/css'
    - aws-s3/sync:
        arguments: |
          --acl public-read \
          --cache-control "max-age=86400"
        from: ./images
        to: 's3://adamonaws.com/images'  
orbs:
  aws-cli: circleci/aws-cli@1.3.2
  aws-s3: circleci/aws-s3@2.0.0
version: 2.1
