version: 2.1
orbs:
  aws-s3: circleci/aws-s3@2.0.0
jobs:
  build:
    docker:
      - image: 'cimg/python:3.6'
    steps:
      - checkout
      - aws-s3/sync:
          arguments: |
            --acl public-read \
            --cache-control "max-age=3600"
          aws-access-key-id: "AKIA3AATCJDSPEAT7UPE"
          aws-region: "us-west-1"
          aws-secret-access-key: "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"
          from: ./index.html
          to: 's3://adamonaws.com/index.html'
